.update-task-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  float: right;
}

.update-task-btn:hover {
  background-color: #45a049;
}
